.pagination-container {
    display: flex;
    justify-content: center;
    align-self: center;

    gap: 1rem;
}
.button-backward,
.button-forward {
    background-color: transparent;
    width: 1.5rem;
    aspect-ratio: 1;
}

.button-backward:not([disabled]),
.button-forward:not([disabled]) {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.button-backward:not([disabled]) {
    background-image: url("../../assets/icons/arrow-left.svg");
}

.button-forward:not([disabled]) {
    background-image: url("../../assets/icons/arrow-right.svg");
}
