.card {
    position: relative;
    border: 0.1rem solid var(--clr-grey);
    width: 15rem;
    height: 15rem;
}

.card--close {
    animation: zoom forwards 1s ease;
}

@keyframes zoom {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.card-image {
    margin-inline: auto;
    height: 10rem;
}

.card-text {
    text-align: start;
    padding-left: 0.5rem;
}
