.modal-wrapper {
    width: 100%;
    height: 100%;

    background-color: var(--clr-dark-opacity);

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-items: center;

    z-index: 1000;
}

.modal-container {
    position: relative;
}
